<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2> 
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <p>Type 'This is a typing test' and press Enter:</p>
        <input type="text" id="typingTest" autocomplete="off" autofocus><br>
        <input type="hidden" name="t" id="timings">
        <button type="submit">Login</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let t = []; //timings
            let p1 = 0; //last press time

            document.getElementById('typingTest').addEventListener('keydown', function(event) { //keydown: when a key is pressed down
                let pnew = Date.now(); //current time
                if (p1 !== 0) {
                    let duration = pnew - p1;
                    t.push(duration);
                }
                p1 = pnew;
            });

            document.getElementById('typingTest').addEventListener('keyup', function(event) { //keyup: when a key is released
                let p2 = Date.now(); //release time
                let duration = p2 - p1;
                t.push(duration);
                p1 = p2;

                if (event.key === 'Enter') {
                    event.preventDefault();
                    if (t.length < 22) {
                        alert('Please restart and make sure there is no typo');
                        t = [];
                        this.value = '';
                    } else {
                        document.getElementById('timings').value = t.join(',');
                        this.form.submit();
                    }
                }
            });
        });
    </script>    
    
</body>
</html>
